/*                              36 KEY MATRIX / LAYOUT MAPPING

  ╭────────────────────────┬────────────────────────╮ ╭─────────────────────────┬─────────────────────────╮
  │  0   1   2   3   4     │      5   6   7   8   9 │ │ LT4 LT3 LT2 LT1 LT0     │     RT0 RT1 RT2 RT3 RT4 │
  │ 10  11  12  13  14     │     15  16  17  18  19 │ │ LM4 LM3 LM2 LM1 LM0     │     RM0 RM1 RM2 RM3 RM4 │
  │ 20  21  22  23  24     │     25  26  27  28  29 │ │ LB4 LB3 LB2 LB1 LB0     │     RB0 RB1 RB2 RB3 RB4 │
  ╰───────────╮ 30  31  32 │ 33  34  35 ╭───────────╯ ╰───────────╮ LH2 LH1 LH0 │ RH0 RH1 RH2 ╭───────────╯
              ╰────────────┴────────────╯                         ╰─────────────┴─────────────╯             */

#define COMBO_TERM 50

#define COMBO(NAME, TIMEOUT, KEYS, BINDINGS, LAYERS) \
    combo_##NAME { \
        timeout-ms = <TIMEOUT>; \
        key-positions = <KEYS>; \
        bindings = <BINDINGS>; \
        layers = <LAYERS>; \
    };
/ {
  combos {
    compatible = "zmk,combos";

    // esc
    COMBO(esc, COMBO_TERM, LT4 LT3, &kp ESC, BASE)

    // leader
    COMBO(leader, COMBO_TERM, LM2 LM1, &leader, BASE MOUSE)

    // macro dot spc
    COMBO(dot_spc, COMBO_TERM, LH1 RH1, &dot_spc, BASE)

    // +
    COMBO(plus, COMBO_TERM, LT2 LT1, &kp PLUS, BASE)

    // -
    COMBO(minus, COMBO_TERM, LT3 LT2, &kp MINUS, BASE)

    // =
    COMBO(equal, COMBO_TERM, LB2 LB1, &kp EQUAL, BASE)

    // _
    COMBO(underscore, COMBO_TERM, LB3 LB2, &kp UNDERSCORE, BASE)

    // [
    COMBO(lbkt, COMBO_TERM, RM1 RB1, &kp LBKT, BASE)

    // ]
    COMBO(rbkt, COMBO_TERM, RM2 RB2, &kp RBKT, BASE)

    // {
    COMBO(lbrc, COMBO_TERM, RM3 RB3, &kp LBRC, BASE)

    // }
    COMBO(rbrc, COMBO_TERM, RM4 RB4, &kp RBRC, BASE)

    // (
    COMBO(lpar, COMBO_TERM, RT1 RT2, &kp LPAR, BASE)

    // )
    COMBO(rpar, COMBO_TERM, RT2 RT3, &kp RPAR, BASE)

    // <
    COMBO(lt, COMBO_TERM, RB1 RB2, &kp LT, BASE)

    // >
    COMBO(gt, COMBO_TERM, RB2 RB3, &kp GT, BASE)

    // @
    COMBO(AT, COMBO_TERM, LT3 LM3, &kp AT, BASE)

    // #
    COMBO(HASH, COMBO_TERM, LT2 LM2, &kp HASH, BASE)

    // $
    COMBO(DOLLAR, COMBO_TERM, LT1 LM1, &kp DOLLAR, BASE)

    // %
    COMBO(PERCENT, COMBO_TERM, LT0 LM0, &kp PERCENT, BASE)

    // !
    COMBO(EXCLAMATION, COMBO_TERM, RT0 RM0, &kp EXCLAMATION, BASE)

    // ^
    COMBO(CARET, COMBO_TERM, RT1 RM1, &kp CARET, BASE)

    // &
    COMBO(AMP, COMBO_TERM, RT2 RM2, &kp AMP, BASE)

    // *
    COMBO(ASTERISK, COMBO_TERM, RT3 RM3, &kp ASTERISK, BASE)

  };
};
